body {
    font-family: Roboto;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 0 250px 50px 250px;
}

ul {
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    padding-top: 25px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0 50px 0;
}

.hero-text {
    width: 500px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 0 10px 0;
}

.hero p {
   font-size: 18px;
   color: #E5E7EB; 
   margin: 0 0 10px 0;
}

.logo {
    font-size: 24px;
    color: #F9FAf8;
    margin-right: auto;
}

.link {
    font-size: 18px;
    color: #E5E7EB; 
}

button{
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
}

img {
    width: 500px;
}